<html layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="content">
    <div class="row my-3">
        <div class="col-6">
            <a th:href="@{/article/create}" class="btn btn-primary">작성하기</a>
        </div>
        <div class="col-6">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="kw"
                       th:value="${param.kw}">
                <button class="btn btn-outline-success" type="submit">검색</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article, loop : ${paging}">
            <th scope="row" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></th>
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}" id="viewBtn" data-article-id="${article.id}"></a>
            </td>
            <td th:if="${article.author != null}" th:text="${article.author.username}"></td>
            <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="--bs-light-text-emphasis" th:if="${article.views != null}" th:text="${article.views}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" th:if="${paging != null}">
        <ul class="pagination justify-content-center" th:with="kwBase = '?kw=' + ${param.kw != null ? param.kw : ''}">
            <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
                <a class="page-link" th:href="@{|${kwBase}&page=0|}"> << </a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|${kwBase}&page=${paging.number-1}|}"> < </a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${paging.number == page} ? 'active'"
                th:if="${paging.number-5 <= page and page <= paging.number+5}">
                <a class="page-link" th:href="@{|${kwBase}&page=${page}|}"
                   th:text="${page+1}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|${kwBase}&page=${paging.number+1}|}"> > </a>
            </li>
            <li class="page-item" th:classappend="${paging.number == paging.totalPages-1} ? 'disabled'">
                <a class="page-link" th:href="@{|${kwBase}&page=${paging.totalPages-1}|}"> >> </a>
            </li>
        </ul>
    </nav>
    <script>
        $(document).ready(function() {
            // Thymeleaf로 전달된 postId 값을 자바스크립트로 사용
            var postId =  $(this).data('article-id');  // postId를 Thymeleaf로부터 받아옴

            $('#viewBtn').click(function() {
                $.ajax({
                    url: "/article/detail/" + postId,  // Ajax 요청 시 postId 사용
                    type: "GET",
                    success: function(response) {
                        $('#viewCount').text(response.views);  // 조회수 업데이트
                    },
                    error: function() {
                        alert("Error occurred while processing the request.");
                    }
                });
            });
        });
    </script>
</div>
</html>